.album{
    position:relative;
    width:220px;
    height:250px;
    vertical-align:middle;
}

.album img {
    padding: 10px;
    position: absolute;
    top:0;
    left:0;
    width: 200px;
    height: auto;
    border: 0;
    opacity:0;
    transition: opacity 1s;

}
.album img.current{opacity:1;border: 0;}

.album div {
    padding: 10px;
    position: absolute;
    top:0;
    left:0;
    width: 200px;
    height: auto;
    border: 0;
    opacity:0;
    transition: opacity 1s;

}
.album div.current{opacity:1;border: 0;}